<div class="new-lesson-form-wrapper">
  <div class="new-lesson-form-content">
   <hgroup>
     <h1>Create New Lesson</h1>
     <p>for</p>
     <h3>Chapter <%= @section.id %>: <%= @section.title %></h3>
   </hgroup>
    <%= simple_form_for @lesson, url: teacher_section_lessons_path(@section) do |f| %>
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <%= f.submit 'Create Lesson', class: 'add-lesson' %>
    <% end %>
  </div>
</div>