<div class="show-course-wrapper">
  <div class="show-course-content">
    <!-- Course Info -->
    <%= render 'courses/info' %>

    <!-- Preview as student -->
    <div class="teacher-panel-wrapper">
        <%= link_to 'Preview Course as a Student', course_path(current_course), class: 'button' %>
    </div>

    <hr>

    <!-- List Course Sections -->
    <%= render partial: 'courses/sections_list', locals: { include_teacher_view: true } %>

    <!-- Add a section to this course -->
    <div class="modal">
      <label for="modal-2">
        <div class="button secondary">Add Section</div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
        <label class="modal-close" for="modal-2"></label>
          <div class="new-section-form-wrapper">
            <div class="new-section-form-content">
             <hgroup>
               <h1>Create New section</h1>
             </hgroup>
              <%= simple_form_for @section, url: teacher_course_sections_path(current_course) do |f| %>
                <%= f.input :title %>
                <%= f.input :subtitle %>
                <%= f.submit 'Create Section', class: 'add-section' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
(function ($) {
    $('.section-lessons-list').sortable(
    {
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.course-sections-list').sortable(
    {
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.new-lesson').click( function(e) {
      var lessonUrl = $(e.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    })

    $("#modal-1").on("change", function() {
      if ($(this).is(":checked")) {
        $("body").addClass("modal-open");
      } else {
        $("body").removeClass("modal-open");
      }
    });

    $("#modal-2").on("change", function() {
      if ($(this).is(":checked")) {
        $("body").addClass("modal-open");
      } else {
        $("body").removeClass("modal-open");
      }
    });

    $(".modal-window").on("click", function() {
      $(".modal-state:checked").prop("checked", false).change();
    });

    $(".modal-inner").on("click", function(e) {
      e.stopPropagation();
    });

}(jQuery));
</script>