<ul class="course-sections-list">
  <% current_course.sections.rank(:row_order).each do |section| %>
    <li class="course-section-list--item <% if include_teacher_view %> teacher <% end %>" data-update-url=<%= teacher_section_path(section) %>>
      <% if include_teacher_view %>
        <span class="movable-icon top"></span>
        <span class="movable-icon middle"></span>
        <span class="movable-icon bottom"></span>
      <% end %>
      <h2 class="course-section--id">
        <%= section.title %>
      </h2>
      <h4 class="course-section--title">
        <%= section.subtitle %>
      </h4>
      <!-- List Section Lessons -->
      <ul class="section-lessons-list">
      <% section.lessons.rank(:row_order).each do |lesson| %>
        <li class="section-lesson-list--item <% if include_teacher_view %> teacher <% end %>" data-update-url=<%= teacher_lesson_path(lesson) %>>
          <%= link_to lesson_path(lesson) do %>
          <% if include_teacher_view %>
            <span class="movable-icon top"></span>
            <span class="movable-icon middle"></span>
            <span class="movable-icon bottom"></span>
          <% end %>
            <h5 class="section-lesson--title">
              <%= lesson.title %>
            </h5>
            <p class="section-lesson--subtitle">
              <%= lesson.subtitle %>
            </p>
          <% end %>
        </li>
      <% end %>
      </ul>
      
      <% if include_teacher_view %>
        <% if current_user && current_user == current_course.user %>
          <%= link_to 'Add Lesson', new_teacher_section_lesson_path(section), class: 'button' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>