<ul class="course-sections-list">
  <% current_course.sections.rank(:row_order).each do |section| %>
    <li class="course-section-list--item <% if include_teacher_view %> teacher <% end %>" data-update-url=<%= teacher_section_path(section) %>>
      <% if include_teacher_view %>
        <span class="movable-icon top"></span>
        <span class="movable-icon middle"></span>
        <span class="movable-icon bottom"></span>
      <% end %>
      <h2 class="course-section--id">
        <%= section.title %>
      </h2>
      <h4 class="course-section--title">
        <%= section.subtitle %>
      </h4>
      <!-- List Section Lessons -->
      <ul class="section-lessons-list">
      <% section.lessons.rank(:row_order).each do |lesson| %>
        <li class="section-lesson-list--item <% if include_teacher_view %> teacher <% end %>" data-update-url=<%= teacher_lesson_path(lesson) %>>
          <%= link_to lesson_path(lesson) do %>
          <% if include_teacher_view %>
            <span class="movable-icon top"></span>
            <span class="movable-icon middle"></span>
            <span class="movable-icon bottom"></span>
          <% end %>
            <h5 class="section-lesson--title">
              <%= lesson.title %>
            </h5>
            <p class="section-lesson--subtitle">
              <%= lesson.subtitle %>
            </p>
          <% end %>
        </li>
      <% end %>
      </ul>
      
      <% if include_teacher_view %>
        <% if current_user && current_user == current_course.user %>
          <div class="modal">
            <label for="modal-1">
              <div class="button new-lesson" data-lesson-url="<%= teacher_section_lessons_path(section) %>">Add Lesson</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
              <label class="modal-close" for="modal-1"></label>
                  <div class="new-lesson-form-wrapper">
                    <div class="new-lesson-form-content">
                     <hgroup>
                       <h1>Create New Lesson</h1>
                     </hgroup>
                      <%= simple_form_for @lesson, url: '#', html: { id: 'newLessonForm' } do |f| %>
                        <%= f.input :title %>
                        <%= f.input :subtitle %>
                        <%= f.input :video %>
                        <%= f.submit 'Create Lesson', class: 'add-lesson' %>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>