<div class="show-course-wrapper">
  <div class="show-course-content">
    <!-- Course Info -->
    <%= render 'courses/info' %>
    <!-- Check if user is logged in and created the course (IE: is the teacher) -->
    <% if current_user && current_user == current_course.user %>
    <div class="teacher-panel-wrapper">
      <%= link_to 'Access Teacher Panel', teacher_course_path(current_course), class: 'button secondary' %>
    </div>
    <% else %>
      <!-- If not teacher, check if the user is enrolled -->
      <% if current_user && current_user.enrolled_in?(current_course) %>
        <div class="student-panel-wrapper">
          <p class="enrolled-msg">You are enrolled in this course</p>
        </div>
      <!-- if not enrolled, show enroll button -->
      <% else %>
      <div class="student-panel-wrapper">
        <% if current_course.free? %>
          <%= link_to 'Enroll in Free Course', course_enrollments_path(current_course), class: 'button', method: :post %>
        <% else %>
        <%= form_tag course_enrollments_path(current_course) do %>
           <article>
            <label class="course-cost">
              <span>Amount: <%= number_to_currency current_course.cost %></span>
            </label>
          </article>
          <a href="#" id="stripeButton" class="button">Enroll in Premium Course</a>
        <% end %>
        <% end %>
    </div>
      <% end %>
    <% end %>

    <hr>

    <!-- List Course Sections -->
    <%= render partial: 'courses/sections_list', locals: { include_add_lesson: false } %>

  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: '<%= current_course.image %>',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#stripeButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Flixter',
      description: '<%= current_course.title %>',
      amount: <%= current_course.cost_in_cents %>
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>