<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="//vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/c/video.js"></script>
</head>
<body>
  <div class="wrapper">
    <%= render 'refills/navigation' %>
    <%= render 'refills/flashes' %>
    <article role='main'>
      <%= yield %>
    </article>
  </div>
  <%= render 'refills/footer_2' %>
  
</body>
</html>
